# Ficheiros gerados pelo Android Studio / IntelliJ IDEA
*.iml
/.idea/

# Ficheiros de Build e Cache do Gradle
.gradle/
/build/

# Ficheiro de propriedades locais (SDK e chaves)
/local.properties

# Ficheiros de build Nativo (C/C++)
.cxx/
.externalNativeBuild/

# Capturas de ecrã e vídeos do Emulador
/captures/

# Ficheiros de sistema operativo (macOS)
.DS_Store